*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #674baf;
  position: relative;
  background-size: cover;
  height: 100%;
  width: 100%; }

.overlay {
  background-image: url("../images/bg-desktop.svg");
  background-size: cover;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 900) {
  .overlay {
    background-size: none; } }

@media (max-width: 375px) {
  .overlay {
    background-image: url("../images/bg-mobile.svg"); } }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif; }

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem; }

.attribution a {
  color: #e882e8; }

.main {
  margin: 4rem auto;
  width: 85%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto; }

.header {
  grid-column: 1 / -1;
  margin-bottom: clamp(2rem, 4.25vw, 6rem); }
  .header__logo {
    height: clamp(3.5rem, 5vw, 7rem); }

.image {
  margin-right: 10%;
  display: grid;
  place-content: center; }
  .image__image {
    width: 100%; }

.details {
  padding: 2rem 2rem 0 2rem;
  color: white; }
  .details__h1 {
    font-size: clamp(2.3rem, 2.75vw, 4rem);
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding-bottom: 3rem; }
  .details__p {
    font-size: clamp(1.4rem, 1.125vw, 4rem);
    line-height: 1.6;
    padding-bottom: 3rem; }
  .details__button {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1.4rem, 1.125vw, 4rem);
    font-weight: 700;
    font-weight: clamp(400, 50%, 700);
    background-color: white;
    padding: 2rem 6rem;
    border-radius: 2rem;
    color: #674baf;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5); }
    .details__button:hover {
      color: white;
      background-color: #e882e8; }

.footer {
  grid-column: 1 / -1;
  display: flex;
  gap: 4rem;
  justify-content: flex-end;
  margin-top: 4rem; }

.fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  transform: scale(1.8);
  cursor: pointer;
  transition: all 0.2s; }
  .fa-brands:hover {
    border: 1px solid #e882e8;
    color: #e882e8; }

@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; }
  .header {
    width: 100%;
    margin-bottom: 5rem; }
  .image {
    width: 78%;
    margin-right: 0; }
  .details {
    text-align: center;
    width: 100%;
    margin-top: 4rem; }
  .footer {
    margin-top: 7rem; } }

@media (max-width: 375px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%; }
  .image {
    margin-right: 0; }
  .details {
    text-align: center;
    width: 100%; }
    .details__button {
      padding: 1rem 6rem;
      font-weight: 400;
      box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 3rem; }
  .footer {
    gap: 1.6rem;
    margin-top: 4rem; }
  .fa-brands {
    transform: scale(1.2); } }
