*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #674baf;
  position: relative;
  background-size: cover;
  height: 100%;
  width: 100%; }

.overlay {
  background-image: url("../images/bg-desktop.svg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif; }

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem; }

.attribution a {
  color: #e882e8; }

.main {
  margin: 4rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto; }

.header {
  grid-column: 1 / -1;
  margin-bottom: 6rem; }

.image {
  margin-right: 10%; }
  .image__image {
    width: 100%; }

.details {
  padding: 2rem;
  color: white; }
  .details__h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding-bottom: 3rem; }
  .details__p {
    font-size: 1.6rem;
    line-height: 1.6;
    padding-bottom: 3rem; }
  .details__button {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: white;
    padding: 2rem 6rem;
    border-radius: 2rem;
    color: #674baf;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5); }
    .details__button:hover {
      color: white;
      background-color: #e882e8; }

.footer {
  grid-column: 1 / -1;
  display: flex;
  gap: 4rem;
  justify-content: flex-end; }

.fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  transform: scale(1.8);
  cursor: pointer;
  transition: all 0.2s; }
  .fa-brands:hover {
    border: 1px solid #e882e8;
    color: #e882e8; }
