$color-violet: hsl(257, 40%, 49%);
$color-soft-magenta: hsl(300, 69%, 71%);

$color-white: white;

$font-size-h1-large: 4rem;
$font-size-h1-small: 2.3rem;

$font-size-p-large: 1.6rem;
$font-size-p-small: 1.4rem;

$font-weight-large: 700;
$font-weight-small: 400;

$logo-height-normal: 7rem;
$logo-height-small: 3.5rem;
