@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/attributions";

.main {
  margin: 4rem auto;
  width: 85%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
}

.header {
  grid-column: 1 / -1;
  margin-bottom: clamp(2rem, 4.25vw, 6rem);

  &__logo {
    height: clamp($logo-height-small, 5vw, $logo-height-normal);
  }
}

.image {
  margin-right: 10%;
  display: grid;
  place-content: center;
  &__image {
    width: 100%;
  }
}

.details {
  padding: 2rem 2rem 0 2rem;
  color: $color-white;

  &__h1 {
    font-size: clamp($font-size-h1-small, 2.75vw, $font-size-h1-large);
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding-bottom: 3rem;
  }

  &__p {
    font-size: clamp($font-size-p-small, 1.125vw, $font-size-h1-large);
    line-height: 1.6;
    padding-bottom: 3rem;
  }

  &__button {
    font-family: "Poppins", sans-serif;
    font-size: clamp($font-size-p-small, 1.125vw, $font-size-h1-large);
    font-weight: $font-weight-large;
    font-weight: clamp($font-weight-small, 50%, $font-weight-large);
    background-color: $color-white;
    padding: 2rem 6rem;
    border-radius: 2rem;
    color: $color-violet;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);

    &:hover {
      color: $color-white;
      background-color: $color-soft-magenta;
    }
  }
}

.footer {
  grid-column: 1 / -1;
  display: flex;
  gap: 4rem;
  justify-content: flex-end;
  margin-top: 4rem;
}

.fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-white;
  color: $color-white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  transform: scale(1.8);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border: 1px solid $color-soft-magenta;
    color: $color-soft-magenta;
  }
}

@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .header {
    width: 100%;
    margin-bottom: 5rem;
  }

  .image {
    width: 78%;
    margin-right: 0;
  }

  .details {
    text-align: center;
    width: 100%;
    margin-top: 4rem;
  }

  .footer {
    margin-top: 7rem;
  }
}

@media (max-width: 375px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .image {
    margin-right: 0;
  }

  .details {
    text-align: center;
    width: 100%;

    &__button {
      // font-size: $font-size-p-small;
      padding: 1rem 6rem;
      font-weight: $font-weight-small;
      box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 3rem;
    }
  }

  .footer {
    gap: 1.6rem;
    margin-top: 4rem;
  }

  .fa-brands {
    transform: scale(1.2);
  }
}
